
<box xs="10" class="offset-xs-1">
  <box justify="around" fit>
    <hbox fit>
      <h1>Blueprints</h1>
      <hbox align="center" justify="end">
        <span>Next {{#link-to 'docs.settings'}} Configuration{{/link-to}}</span>
      </hbox>
    </hbox>

    <box fit>
      <strong>Generate Config:</strong>
      {{code-snippet name='generate-1.js'}}
    </box>

    <box fit>
      <strong>Generate a layout:</strong>
      {{code-snippet name='generate-2.js'}}
    </box>

    <box fit>
      <strong>Generate all layouts for a route:</strong>
      {{code-snippet name='generate-3.js'}}
    </box>

    <box fit>
      <strong>Generate specific layouts for a route:</strong>
      {{code-snippet name='generate-4.js'}}
    </box>

    <box fit>
      <strong>Generate all layouts for a component:</strong>
      {{code-snippet name='generate-5.js'}}
    </box>

    <box fit>
      <strong>Generate specific layouts for a component:</strong>
      {{code-snippet name='generate-6.js'}}
    </box>
  </box>
</box>
