{{outlet}}

<screen>
  <page class="bg-dark-grey">
    <h1>Examples</h1>
    <hbox>
      <box {{action "showExample" 'grid'}}>Grid (no rows)</box>
      <box {{action "showExample" 'grid-responsive'}}>Responsive Grid (no rows)</box>
      <box {{action "showExample" 'grid-rows'}}>Grid (rows)</box>
      <box {{action "showExample" 'grid-rows-responsive'}}>Responsive Grid (rows)</box>
    </hbox>

    <box>
      <div style="width: 75%; margin: 0 auto;" class="feature-example">
        {{component componentName tagName=""}}
      </div>
    </box>
  </page>
</screen>