<screen>
  <page>

    <box class="bg-green site-banner">
      <centered>
        <div>
          <h1 class="title text-center">Flexi</h1>
          <h2 class="sub-title">Just a layout framework. Design for cross-platform with ease.</h2>
        </div>
      </centered>
    </box>

    <hbox>
      <centered>
        <h3>Examples</h3>
      </centered>
      <centered>
        <h3>Documentation</h3>
      </centered>
      <centered>
        <h3>Github</h3>
      </centered>
    </hbox>

    <centered fit>
      <h4>Next</h4>
    </centered>

  </page>

  <page class="bg-dark-grey" horizontal>
    <h1>Examples</h1>
    <hbox>
      <box fit>
        <nav class="feature-select">
          <ul>
            <li {{action "showExample" 'grid'}}>Grid (no rows)</li>
            <li {{action "showExample" 'grid-responsive'}}>Responsive Grid (no rows)</li>
            <li {{action "showExample" 'grid-rows'}}>Grid (rows)</li>
            <li {{action "showExample" 'grid-rows-responsive'}}>Responsive Grid (rows)</li>
          </ul>
        </nav>
      </box>

      <box>
        <div style="width: 75%; margin: 0 auto;" class="feature-example">
          {{component componentName tagName=""}}
        </div>
      </box>
    </hbox>
  </page>

</screen>